body {
  margin: 20%;
}

#info{
  display: block  ;

}

#tellUs{
  width: 915px;
  height: 100px;
  padding: 27px;
}

.text{
  width: 300px;
  padding: 10px;
}

.tel{
  width: 300px;
  padding: 10px;
}

.head{
  text-align: center;
  padding: 5px;
}
